In [1]:
import prestodb
import pandas as pd
conn=prestodb.dbapi.connect(
    host='localhost',
    port=9000,
    user='python',
    catalog='hive',
    schema='default',
)
cur = conn.cursor()

def fetch_query_to_dataframe(cur, query):
    cur.execute(query)
    rows = cur.fetchall()
    columns = list(map(lambda x: x[0], cur.description))
    return pd.DataFrame(rows, columns = columns)

In [3]:
query1 = f"""
with
    ssmSubset as (
        select * from smart_columbus_cve__captcha where (messagetype = 'SSM') and os_partition = '2021_02'
    ),
    ssmExtract as(
        SELECT 
            json_extract(messagebody,'$.status[0].id.id') as intId, 
            json_extract(messagebody,'$.status[0].sigStatus[0].inboundOn[0].lane') as inboundLane, 
            json_extract(messagebody,'$.status[0].sigStatus[0].requester.id[1]') as vehId, 
            json_extract(messagebody,'$.status[0].sigStatus[0].requester.request') as requestId,
            json_extract(messagebody,'$.status[0].sigStatus[0].status') as ssmStatus, 
            timestamp as ssmTimestamp, 
            sourcedevice
        FROM ssmSubset 
    ),
    dedupedSsmResult as (
        select 
            min(ssmTimestamp) as minSsmTimestamp, 
            max(ssmTimestamp) as maxSsmTimestamp, 
            count(ssmTimestamp) as ssmCount, 
            requestId, 
            intID, 
            vehId, 
            ssmStatus, 
            sourcedevice 
        from ssmExtract group by requestId, intID, vehId, ssmStatus, sourcedevice
    )
    
select * from dedupedSsmResult
"""

df = fetch_query_to_dataframe(cur, query1)
df

,minSsmTimestamp,maxSsmTimestamp,ssmCount,requestId,intID,vehId,ssmStatus,sourcedevice
0,2021-02-28T14:31:12.361Z,2021-02-28T14:31:21.402Z,23,224,3412,1083870342,"""processing""",morse_northlandridge_cvcp
1,2021-02-28T14:38:54.208Z,2021-02-28T14:39:07.575Z,100,106,4070,2536383711,"""rejected""",cleveland_cooke_cvcp
2,2021-02-28T15:47:59.292Z,2021-02-28T15:48:43.112Z,125,114,3440,957146590,"""rejected""",morse_eastonloop_cvcp
3,2021-02-28T21:09:19.215Z,2021-02-28T21:10:06.529Z,39,67,3012,4172642915,"""requested""",cleveland_11th_cvcp
4,2021-02-28T12:22:47.323Z,2021-02-28T12:22:50.581Z,20,246,3446,1292169580,"""requested""",morse_i71nb_cvcp
...,...,...,...,...,...,...,...,...
104153,2021-02-12T23:43:38.454Z,2021-02-12T23:43:39.554Z,3,214,3446,719977890,"""requested""",morse_sinclair_cvcp
104154,2021-02-13T00:08:45.784Z,2021-02-13T00:08:45.784Z,1,2,3228,1660994626,"""requested""",morse_morsecrossing_cvcp
104155,2021-02-08T14:48:29.459Z,2021-02-08T14:48:29.647Z,2,1,3228,523032090,"""requested""",morse_sunbury_cvcp
104156,2021-02-01T03:03:41.492Z,2021-02-01T03:03:41.542Z,2,245,4037,1054656679,"""processing""",high_arcadia_cvcp
104157,2021-02-02T15:48:47.565Z,2021-02-02T15:48:48.310Z,3,8,3440,2112568531,"""processing""",morse_morsecrossing_cvcp

In [4]:
df.sort_values(by="ssmCount")

,minSsmTimestamp,maxSsmTimestamp,ssmCount,requestId,intID,vehId,ssmStatus,sourcedevice
34953,2021-02-07T20:05:37.130Z,2021-02-07T20:05:37.130Z,1,31,4055,2619747046,"""rejected""",cleveland_innis_cvcp
23639,2021-02-13T03:32:37.823Z,2021-02-13T03:32:37.823Z,1,6,4107,3959122876,"""requested""",high_patterson_cvcp
49928,2021-02-07T23:41:37.720Z,2021-02-07T23:41:37.720Z,1,72,4055,667342377,"""rejected""",cleveland_innis_cvcp
49926,2021-02-02T15:14:08.906Z,2021-02-02T15:14:08.906Z,1,85,4027,3064524610,"""processing""",high_18th_cvcp
73272,2021-02-06T01:41:38.270Z,2021-02-06T01:41:38.270Z,1,243,4037,1460502585,"""processing""",high_arcadia_cvcp
...,...,...,...,...,...,...,...,...
59893,2021-02-19T16:45:37.660Z,2021-02-19T16:47:50.660Z,1291,245,3013,818040668,"""rejected""",cleveland_11th_cvcp
15274,2021-02-08T22:32:28.166Z,2021-02-08T22:34:49.181Z,1374,31,3013,1888406305,"""rejected""",cleveland_11th_cvcp
84627,2021-02-26T22:06:31.975Z,2021-02-26T22:08:55.582Z,1379,153,3013,3027107612,"""rejected""",cleveland_11th_cvcp
83402,2021-02-12T15:46:04.854Z,2021-02-12T15:48:42.554Z,1486,127,3013,3469909145,"""rejected""",cleveland_11th_cvcp
4675,2021-02-13T18:43:32.171Z,2021-02-13T18:46:06.174Z,1492,217,3013,632459840,"""rejected""",cleveland_11th_cvcp

In [5]:
df.to_csv('ssm_volume.csv', index=False)

In [7]:
query2 = f"""
with 
    srmSubset as (
        select * from smart_columbus_cve__captcha WHERE messagetype = 'SRM' and os_partition = '2021_02'
    ),
    srmExtract as (
        SELECT 
            json_extract_scalar(messagebody,'$.requestor.id[1]') as vehicleId, 
            json_extract_scalar(messagebody,'$.requestor.type.role') as role, 
            json_extract_scalar(messagebody,'$.requests[0].request.id.id') as intId, 
            json_extract_scalar(messagebody,'$.requests[0].request.requestID') as requestId, 
            timestamp as srmTimestamp, 
            sourcedevice
        FROM srmSubset 
    ), 
    dedupedSrmResult as ( 
        select min(srmTimestamp) as minSrmTimestamp, 
            max(srmTimestamp) as maxSrmTimestamp, 
            count(srmTimestamp) as srmCount, 
            requestID, 
            intID, 
            vehicleId, 
            role, 
            sourcedevice 
        from srmExtract group by requestId, intID, vehicleId, role, sourcedevice
    )
    
select * from dedupedSrmResult
"""

df = fetch_query_to_dataframe(cur, query2)
df

,minSrmTimestamp,maxSrmTimestamp,srmCount,requestID,intID,vehicleId,role,sourcedevice
0,2021-02-28T22:57:42.048Z,2021-02-28T22:57:50.678Z,21,253,3413,2165098571,fire,morse_karl_cvcp
1,2021-02-23T14:17:29.455Z,2021-02-23T14:17:38.774Z,38,3,3415,3914410511,fire,morse_heaton_cvcp
2,2021-02-27T14:01:28.205Z,2021-02-27T14:01:43.082Z,53,3,3410,1704816289,fire,morse_mcfadden_cvcp
3,2021-02-27T13:33:02.746Z,2021-02-27T13:33:11.150Z,8,33,3018,1615563041,transit,cleveland_duxberry_cvcp
4,2021-02-26T10:58:59.925Z,2021-02-26T10:59:41.633Z,165,4,3013,1973261266,transit,cleveland_11th_cvcp
...,...,...,...,...,...,...,...,...
25828,2021-02-06T16:39:03.784Z,2021-02-06T16:39:03.966Z,2,120,3024,1248851876,transit,cleveland_westerville_cvcp
25829,2021-02-06T13:28:06.118Z,2021-02-06T13:28:06.385Z,2,138,3015,952413698,fire,cleveland_windsor_cvcp
25830,2021-02-16T00:03:46.496Z,2021-02-16T00:03:46.496Z,1,235,3407,1530101107,fire,morse_evanswood_cvcp
25831,2021-02-02T23:33:41.219Z,2021-02-02T23:33:41.219Z,1,3,4037,1758401699,fire,high_oaklandpark_cvcp
25832,2021-02-01T16:55:41.119Z,2021-02-01T16:55:41.119Z,1,75,4065,587597770,transit,cleveland_innis_cvcp

In [8]:
df.sort_values(by="srmCount")

,minSrmTimestamp,maxSrmTimestamp,srmCount,requestID,intID,vehicleId,role,sourcedevice
12916,2021-02-27T01:33:03.101Z,2021-02-27T01:33:03.101Z,1,38,3019,948355793,transit,cleveland_duxberry_cvcp
11623,2021-02-20T14:28:46.653Z,2021-02-20T14:28:46.653Z,1,166,3159,3937285094,transit,cleveland_ferris_cvcp
11619,2021-02-23T17:27:08.150Z,2021-02-23T17:27:08.150Z,1,144,4006,1365118449,fire,high_arcadia_cvcp
11615,2021-02-22T15:58:41.474Z,2021-02-22T15:58:41.474Z,1,1,3412,3733811481,fire,morse_mcfadden_cvcp
11613,2021-02-10T00:07:48.097Z,2021-02-10T00:07:48.097Z,1,15,4065,2010221630,transit,cleveland_northernlights_cvcp
...,...,...,...,...,...,...,...,...
1295,2021-02-01T13:24:51.280Z,2021-02-01T13:28:10.036Z,926,2,3024,590111014,transit,cleveland_westerville_cvcp
4215,2021-02-28T21:53:38.919Z,2021-02-28T21:56:55.612Z,1005,43,3013,459191834,transit,cleveland_11th_cvcp
13536,2021-02-01T13:24:20.230Z,2021-02-01T13:28:10.027Z,1236,2,3024,590111014,transit,cleveland_weber_cvcp
24001,2021-02-08T21:49:28.808Z,2021-02-08T21:53:25.189Z,1577,43,3013,3045028166,transit,cleveland_11th_cvcp
11915,2021-02-23T01:18:59.187Z,2021-02-23T01:25:20.083Z,1867,3,4060,1824858780,transit,cleveland_huy_cvcp

In [9]:
df.to_csv('srm_volume.csv', index=False)