In [1]:
import prestodb
import pandas as pd
conn=prestodb.dbapi.connect(
    host='localhost',
    port=9000,
    user='python',
    catalog='hive',
    schema='default',
)
cur = conn.cursor()

def fetch_query_to_dataframe(cur, query):
    cur.execute(query)
    rows = cur.fetchall()
    columns = list(map(lambda x: x[0], cur.description))
    return pd.DataFrame(rows, columns = columns)

In [2]:
source_table = "cve_signal_messages"

In [3]:
srm_query = f"""
select * from {source_table} where os_partition = '2021_01' and messagetype = 'SRM'
"""

df = fetch_query_to_dataframe(cur, srm_query + " limit 10")

In [4]:
body = df['messagebody'][0]
body

'{"regional":null,"requestor":{"id":["entityID",3858344443],"name":[85,110,107,110,111,119,110],"position":{"heading":0,"position":{"elevation":2337,"lat":400616515,"long":-829975625},"speed":{"speed":1001,"transmisson":"unavailable"}},"routeName":[85,110,107,110,111,119,110],"type":{"request":"requestImportanceLevelUnKnown","role":"fire","subrole":"requestSubRoleUnKnown"}},"requests":[{"minute":28599,"request":{"id":{"id":3407},"inBoundLane":["lane",50],"outBoundLane":["lane",118],"requestID":6,"requestType":"priorityRequestUpdate"},"second":17000}],"second":0,"sequenceNumber":85,"timeStamp":null}'

In [5]:
import json

srm = json.loads(body)

print(json.dumps(srm, indent=2))

{
  "regional": null,
  "requestor": {
    "id": [
      "entityID",
      3858344443
    ],
    "name": [
      85,
      110,
      107,
      110,
      111,
      119,
      110
    ],
    "position": {
      "heading": 0,
      "position": {
        "elevation": 2337,
        "lat": 400616515,
        "long": -829975625
      },
      "speed": {
        "speed": 1001,
        "transmisson": "unavailable"
      }
    },
    "routeName": [
      85,
      110,
      107,
      110,
      111,
      119,
      110
    ],
    "type": {
      "request": "requestImportanceLevelUnKnown",
      "role": "fire",
      "subrole": "requestSubRoleUnKnown"
    }
  },
  "requests": [
    {
      "minute": 28599,
      "request": {
        "id": {
          "id": 3407
        },
        "inBoundLane": [
          "lane",
          50
        ],
        "outBoundLane": [
          "lane",
          118
        ],
        "requestID": 6,
        "requestType": "priorityRequestUpdate"
      },
      "second": 17000
    }
  ],
  "second": 0,
  "sequenceNumber": 85,
  "timeStamp": null
}

In [6]:
ssm_query = f"""
select * from {source_table} where os_partition = '2021_01' and messagetype = 'SSM'
"""

df = fetch_query_to_dataframe(cur, ssm_query + " limit 10")
body = df['messagebody'][0]

ssm = json.loads(body)

print(json.dumps(ssm, indent=2))

{
  "regional": null,
  "second": 24,
  "sequenceNumber": 1,
  "status": [
    {
      "id": {
        "id": 3092
      },
      "sequenceNumber": 1,
      "sigStatus": [
        {
          "inboundOn": [
            "lane",
            50
          ],
          "requester": {
            "id": [
              "entityID",
              3958674478
            ],
            "request": 215,
            "sequenceNumber": 0
          },
          "status": "rejected"
        }
      ]
    }
  ],
  "timeStamp": 28346
}

In [7]:
unnest_query = f"""
with srms as ({srm_query}),
extracted_srms as (select 
    json_extract_scalar(messagebody, '$.requestor.id[1]') as id,
    json_extract_scalar(messagebody, '$.requestor.type.role') as role,
    json_extract_scalar(messagebody, '$.requests[0].request.requestID') as requestid,
    json_extract_scalar(messagebody, '$.requests[0].request.requestType') as requesttype,
    json_extract_scalar(messagebody, '$.requests[0].request.id.id') as intersectionid,
    json_extract_scalar(messagebody, '$.requests[0].request.inBoundLane[1]') as inbound,
    json_extract_scalar(messagebody, '$.requests[0].request.outBoundLane[1]') as outbound,
    cast(json_extract_scalar(messagebody, '$.requestor.position.position.lat') as double) / 10000000 as lat,
    cast(json_extract_scalar(messagebody, '$.requestor.position.position.long') as double) / 10000000 as long,
    sourcedevice,
    timestamp,
    to_unixtime(from_iso8601_timestamp(timestamp)) as unixtime
from srms)

select timestamp, unixtime, lat, long, sourcedevice, id, intersectionid, requestid, requesttype, role, inbound, outbound from extracted_srms
"""

df = fetch_query_to_dataframe(cur, unnest_query)
df

,timestamp,unixtime,lat,long,sourcedevice,id,intersectionid,requestid,requesttype,role,inbound,outbound
0,2021-01-07T03:25:49.872Z,1.609990e+09,40.060242,-82.969684,morse_heaton_cvcp,2867544601,3415,3,priorityRequestUpdate,fire,116,56
1,2021-01-08T23:30:28.305Z,1.610149e+09,39.995742,-82.979565,cleveland_11th_cvcp,2159505514,3013,2,priorityRequestUpdate,fire,18,83
2,2021-01-08T23:30:28.118Z,1.610149e+09,39.995761,-82.979544,cleveland_11th_cvcp,2159505514,3013,2,priorityRequest,fire,18,83
3,2021-01-02T18:18:12.514Z,1.609611e+09,40.032160,-83.016007,high_oaklandpark_cvcp,2514323593,4036,3,priorityRequestUpdate,fire,20,52
4,2021-01-08T14:29:21.779Z,1.610116e+09,39.844715,-82.936452,alumcreek_rohr_cvcp,103058272,4622,9,priorityRequestUpdate,truck,19,52
...,...,...,...,...,...,...,...,...,...,...,...,...
66652,2021-01-04T00:37:44.997Z,1.609721e+09,40.031606,-83.015017,high_northbroadway_cvcp,835634788,4036,184,priorityRequestUpdate,fire,50,116
66653,2021-01-10T03:58:04.948Z,1.610251e+09,40.002856,-82.974068,cleveland_20th_cvcp,3970497102,3017,3,priorityRequestUpdate,fire,82,19
66654,2021-01-06T01:19:42.437Z,1.609896e+09,40.006411,-83.009307,high_woodruff_cvcp,3077791179,4026,7,priorityRequestUpdate,fire,19,52
66655,2021-01-04T19:58:42.881Z,1.609790e+09,39.868994,-82.934827,alumcreek_groveport_cvcp,1474045835,4625,2,priorityRequestUpdate,truck,19,88
66656,2021-01-09T17:11:42.170Z,1.610212e+09,39.870208,-82.934386,alumcreek_groveport_cvcp,3765036107,4625,216,priorityRequestUpdate,truck,17,90

In [8]:
df[df['id'] == '3073907835'].sort_values(by=['intersectionid', 'timestamp'])

,timestamp,unixtime,lat,long,sourcedevice,id,intersectionid,requestid,requesttype,role,inbound,outbound
29279,2021-01-22T12:17:11.357Z,1.611318e+09,39.846334,-82.937413,alumcreek_rohr_cvcp,3073907835,4622,20,priorityRequest,truck,18,85
58525,2021-01-22T12:17:11.618Z,1.611318e+09,39.846306,-82.937399,alumcreek_rohr_cvcp,3073907835,4622,20,priorityRequestUpdate,truck,18,85
64266,2021-01-22T12:17:27.227Z,1.611318e+09,39.844805,-82.936508,alumcreek_rohr_cvcp,3073907835,4622,21,priorityRequest,truck,19,52
41609,2021-01-22T12:17:27.315Z,1.611318e+09,39.844801,-82.936505,alumcreek_rohr_cvcp,3073907835,4622,21,priorityRequestUpdate,truck,19,52
27846,2021-01-22T12:17:27.402Z,1.611318e+09,39.844799,-82.936504,alumcreek_rohr_cvcp,3073907835,4622,21,priorityRequestUpdate,truck,19,52
...,...,...,...,...,...,...,...,...,...,...,...,...
8980,2021-01-22T12:16:44.705Z,1.611318e+09,39.850852,-82.938668,alumcreek_toy_cvcp,3073907835,4623,17,priorityRequestUpdate,truck,17,84
57279,2021-01-22T12:16:44.797Z,1.611318e+09,39.850830,-82.938666,alumcreek_toy_cvcp,3073907835,4623,17,priorityRequestUpdate,truck,17,84
17899,2021-01-22T12:16:44.991Z,1.611318e+09,39.850795,-82.938663,alumcreek_toy_cvcp,3073907835,4623,17,priorityRequestUpdate,truck,17,84
56378,2021-01-22T12:16:45.616Z,1.611318e+09,39.850679,-82.938653,alumcreek_toy_cvcp,3073907835,4623,17,priorityRequestUpdate,truck,17,84
63433,2021-01-22T12:16:50.817Z,1.611318e+09,39.849779,-82.938530,alumcreek_toy_cvcp,3073907835,4623,18,priorityRequestUpdate,truck,16,85

In [9]:
unnest_ssm_query = f"""
with ssms as ({ssm_query}),
extracted_ssms as (select 
    json_extract_scalar(messagebody, '$.status[0].sigStatus[0].requester.id[1]') as id,
    json_extract_scalar(messagebody, '$.status[0].sigStatus[0].requester.request') as requestid,
    json_extract_scalar(messagebody, '$.status[0].sigStatus[0].status') as status,
    json_extract_scalar(messagebody, '$.status[0].id.id') as intersectionid,
    timestamp,
    to_unixtime(from_iso8601_timestamp(timestamp)) as unixtime
from ssms),
status as (select min(timestamp) as timestamp, min(unixtime) as unixtime, status, id, intersectionid, requestid from extracted_ssms group by id, intersectionid, requestid, status),
granted_rejected_status as (select * from status where status = 'granted' or status = 'rejected'),
requested_status as (select * from status where status = 'requested'),
processing_status as (select * from status where status = 'processing')

select count(1) as count, array_agg((status, timestamp)) as lifecycle, max_by(status,timestamp) as final_status, id, intersectionid, requestid from status group by id, intersectionid, requestid
"""

"""
select 
    id, intersectionid, requestid, 
    granted_rejected_status.timestamp as time_granted_rejected,
    requested_status.timestamp as time_requested,
    processing_status.timestamp as time_processing
    
from granted_rejected_status 
left join requested_status using (id, intersectionid, requestid) 
left join processing_status using (id, intersectionid, requestid)
"""

df = fetch_query_to_dataframe(cur, unnest_ssm_query)
df

,count,lifecycle,final_status,id,intersectionid,requestid
0,2,"[[processing, 2021-01-10T13:22:46.649Z], [requ...",processing,1921230366,3024,217
1,1,"[[rejected, 2021-01-22T12:16:25.214Z]]",rejected,2069232909,4624,15
2,2,"[[requested, 2021-01-03T15:09:07.596Z], [proce...",processing,3830800580,4042,3
3,2,"[[requested, 2021-01-14T14:25:30.831Z], [proce...",processing,3195359228,3405,194
4,2,"[[processing, 2021-01-30T00:10:08.189Z], [requ...",processing,108323319,3417,96
...,...,...,...,...,...,...
6054,1,"[[rejected, 2021-01-30T12:25:00.863Z]]",rejected,392872789,4070,13
6055,1,"[[requested, 2021-01-28T09:27:04.339Z]]",requested,661703777,4622,3
6056,1,"[[rejected, 2021-01-21T00:48:18.101Z]]",rejected,2407442193,3092,1
6057,1,"[[rejected, 2021-01-30T22:21:04.995Z]]",rejected,3672475237,4036,122
6058,1,"[[rejected, 2021-01-06T14:05:54.912Z]]",rejected,3752496240,4625,234

In [10]:
df.describe(include='all')

,count,lifecycle,final_status,id,intersectionid,requestid
count,6059.000000,6059,6059,6059,6059,6059
unique,NaN,6059,4,2229,67,256
top,NaN,"[[processing, 2021-01-14T22:21:16.488Z], [requ...",processing,2891925512,4624,1
freq,NaN,1,2632,22,447,753
mean,1.472355,NaN,NaN,NaN,NaN,NaN
std,0.499276,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN
25%,1.000000,NaN,NaN,NaN,NaN,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN
max,2.000000,NaN,NaN,NaN,NaN,NaN

In [11]:
df[df['count'] > 1]

,count,lifecycle,final_status,id,intersectionid,requestid
0,2,"[[processing, 2021-01-10T13:22:46.649Z], [requ...",processing,1921230366,3024,217
2,2,"[[requested, 2021-01-03T15:09:07.596Z], [proce...",processing,3830800580,4042,3
3,2,"[[requested, 2021-01-14T14:25:30.831Z], [proce...",processing,3195359228,3405,194
4,2,"[[processing, 2021-01-30T00:10:08.189Z], [requ...",processing,108323319,3417,96
8,2,"[[requested, 2021-01-09T05:23:27.393Z], [proce...",processing,1013698279,3013,219
...,...,...,...,...,...,...
6043,2,"[[processing, 2021-01-30T01:09:53.725Z], [requ...",processing,26209799,4045,149
6044,2,"[[requested, 2021-01-17T20:55:04.571Z], [proce...",processing,847755427,3154,143
6045,2,"[[granted, 2021-01-13T22:28:57.331Z], [request...",granted,3829268681,3412,1
6048,2,"[[processing, 2021-01-11T00:43:44.011Z], [requ...",processing,2795736429,3018,2
6049,2,"[[processing, 2021-01-22T15:03:23.450Z], [requ...",processing,1204663201,4028,0

In [12]:
df.sort_values(by=['id','intersectionid', 'requestid'])

,count,lifecycle,final_status,id,intersectionid,requestid
1847,1,"[[rejected, 2021-01-26T17:55:11.551Z]]",rejected,1000225836,4620,20
5128,2,"[[processing, 2021-01-13T19:44:27.894Z], [requ...",processing,1002313426,3013,144
4779,2,"[[processing, 2021-01-13T19:44:41.493Z], [requ...",processing,1002313426,3013,145
185,2,"[[processing, 2021-01-13T19:44:13.235Z], [requ...",processing,1002313426,3014,143
1507,2,"[[processing, 2021-01-06T23:14:55.050Z], [requ...",processing,1011627746,3024,198
...,...,...,...,...,...,...
1751,2,"[[processing, 2021-01-26T01:41:32.732Z], [requ...",processing,988948352,4040,1
1019,2,"[[requested, 2021-01-26T01:42:05.818Z], [proce...",processing,988948352,4042,2
4245,2,"[[requested, 2021-01-26T01:42:13.512Z], [proce...",processing,988948352,4043,3
1980,2,"[[requested, 2021-01-26T01:42:35.123Z], [proce...",processing,988948352,4045,252
3472,2,"[[requested, 2021-01-18T19:16:16.464Z], [proce...",processing,989714638,3154,169

In [23]:
join_query = f"""
with parsed_ssms as ({unnest_ssm_query}), parsed_srms as ({unnest_query}),
matched as (
select 
    parsed_srms.id, parsed_srms.requestid, parsed_srms.intersectionid, final_status, lifecycle,
    role, requesttype, inbound, outbound, lat, long,
    parsed_srms.timestamp as srm_timestamp
from parsed_srms join parsed_ssms
on  parsed_srms.intersectionid = parsed_ssms.intersectionid 
and parsed_srms.id = parsed_ssms.id 
and parsed_srms.requestid = parsed_ssms.requestid),

aggregated as (
    select 
        id,
        requestid,
        final_status,
        lifecycle as status_lifecycle,
        intersectionid,
        role,
        inbound,
        outbound,
        min(srm_timestamp) as initial_request_time,
        array_agg((lat, long, srm_timestamp, requesttype)) as requests
    from matched
        group by id,
        requestid,
        final_status,
        lifecycle,
        intersectionid,
        role,
        inbound,
        outbound
)

select
    id,
    requestid,
    final_status,
    cast(status_lifecycle as array(ROW(status varchar, timestamp varchar))) as status_lifecycle,
    intersectionid,
    role,
    inbound,
    outbound,
    initial_request_time,
    cast(requests as array(ROW(lat double, long double, srm_timestamp varchar, requesttype varchar))) as requests
from aggregated
"""
#     cast(transform(requests, x ->
#         cast(
#             ROW(x[1], x[2], x[3], x[4])
#             as
#             ROW(lat double, long double, srm_timestamp varchar, requesttype varchar)
#         )
#     ) as ) as requests
print(join_query)
# df = fetch_query_to_dataframe(cur, join_query)
# df

cur.execute(f"""drop table if exists cve_signal_preemption""")
cur.fetchall()
cur.execute(f"""create table cve_signal_preemption as {join_query}""")
cur.fetchall()

with parsed_ssms as (
with ssms as (
select * from cve_signal_messages where os_partition = '2021_01' and messagetype = 'SSM'
),
extracted_ssms as (select
    json_extract_scalar(messagebody, '$.status[0].sigStatus[0].requester.id[1]') as id,
    json_extract_scalar(messagebody, '$.status[0].sigStatus[0].requester.request') as requestid,
    json_extract_scalar(messagebody, '$.status[0].sigStatus[0].status') as status,
    json_extract_scalar(messagebody, '$.status[0].id.id') as intersectionid,
    timestamp,
    to_unixtime(from_iso8601_timestamp(timestamp)) as unixtime
from ssms),
status as (select min(timestamp) as timestamp, min(unixtime) as unixtime, status, id, intersectionid, requestid from extracted_ssms group by id, intersectionid, requestid, status),
granted_rejected_status as (select * from status where status = 'granted' or status = 'rejected'),
requested_status as (select * from status where status = 'requested'),
processing_status as (select * from status where status = 'processing')

select count(1) as count, array_agg((status, timestamp)) as lifecycle, max_by(status,timestamp) as final_status, id, intersectionid, requestid from status group by id, intersectionid, requestid
), parsed_srms as (
with srms as (
select * from cve_signal_messages where os_partition = '2021_01' and messagetype = 'SRM'
),
extracted_srms as (select
    json_extract_scalar(messagebody, '$.requestor.id[1]') as id,
    json_extract_scalar(messagebody, '$.requestor.type.role') as role,
    json_extract_scalar(messagebody, '$.requests[0].request.requestID') as requestid,
    json_extract_scalar(messagebody, '$.requests[0].request.requestType') as requesttype,
    json_extract_scalar(messagebody, '$.requests[0].request.id.id') as intersectionid,
    json_extract_scalar(messagebody, '$.requests[0].request.inBoundLane[1]') as inbound,
    json_extract_scalar(messagebody, '$.requests[0].request.outBoundLane[1]') as outbound,
    cast(json_extract_scalar(messagebody, '$.requestor.position.position.lat') as double) / 10000000 as lat,
    cast(json_extract_scalar(messagebody, '$.requestor.position.position.long') as double) / 10000000 as long,
    sourcedevice,
    timestamp,
    to_unixtime(from_iso8601_timestamp(timestamp)) as unixtime
from srms)

select timestamp, unixtime, lat, long, sourcedevice, id, intersectionid, requestid, requesttype, role, inbound, outbound from extracted_srms
),
matched as (
select
    parsed_srms.id, parsed_srms.requestid, parsed_srms.intersectionid, final_status, lifecycle,
    role, requesttype, inbound, outbound, lat, long,
    parsed_srms.timestamp as srm_timestamp
from parsed_srms join parsed_ssms
on  parsed_srms.intersectionid = parsed_ssms.intersectionid
and parsed_srms.id = parsed_ssms.id
and parsed_srms.requestid = parsed_ssms.requestid),

aggregated as (
    select
        id,
        requestid,
        final_status,
        lifecycle as status_lifecycle,
        intersectionid,
        role,
        inbound,
        outbound,
        min(srm_timestamp) as initial_request_time,
        array_agg((lat, long, srm_timestamp, requesttype)) as requests
    from matched
        group by id,
        requestid,
        final_status,
        lifecycle,
        intersectionid,
        role,
        inbound,
        outbound
)

select
    id,
    requestid,
    final_status,
    cast(status_lifecycle as array(ROW(status varchar, timestamp varchar))) as status_lifecycle,
    intersectionid,
    role,
    inbound,
    outbound,
    initial_request_time,
    cast(requests as array(ROW(lat double, long double, srm_timestamp varchar, requesttype varchar))) as requests
from aggregated

[[5700]]

In [ ]:
df.describe(include='all')

In [ ]:
df.sort_values(by=['intersectionid', 'id'])

In [ ]:
df.to_csv('preemption_requests.csv', index=False)

In [ ]:
unnest_query = f"""
with srms as (select * from smart_columbus_cve__captcha where os_partition = '2021_01' and messagetype = 'SRM'),
extracted_srms as (select 
    cast(json_extract(messagebody, '$.requests') as ARRAY<JSON>) as requests
from srms)

select cardinality(requests) from extracted_srms where cardinality(requests) > 1
"""

# df = fetch_query_to_dataframe(cur, unnest_query)
# df

In [ ]:
status_query = f"""
with ssms as (select * from smart_columbus_cve__captcha where os_partition = '2021_01' and messagetype = 'SSM'),
extracted_ssms as (select 
    cast(json_extract(messagebody, '$.status') as ARRAY<JSON>) as statuses
from ssms)
select cardinality(statuses) from extracted_ssms where cardinality(statuses) > 1
"""

# df = fetch_query_to_dataframe(cur, status_query)
# df

In [ ]:
status_query = f"""
with ssms as (select * from smart_columbus_cve__captcha where os_partition = '2021_01' and messagetype = 'SSM'),
extracted_ssms as (select 
    cast(json_extract(messagebody, '$.status[0].sigStatus') as ARRAY<JSON>) as statuses
from ssms)
select cardinality(statuses) from extracted_ssms where cardinality(statuses) > 1
"""

# df = fetch_query_to_dataframe(cur, status_query)
# df

In [ ]:
# df[df['status'] == 'granted'].sort_values(by=['sourcedevice', 'ssm_timestamp'])

In [ ]:
df['intersectionid'].unique()

In [ ]:
df[df['final_status'] == 'granted']['intersectionid'].unique()

In [ ]:
df[df['final_status'] == 'rejected']['intersectionid'].unique()

In [ ]:
one_vehicle = df[df['id'] == '502361261'].sort_values(by=['ssm_timestamp'])
one_vehicle

In [ ]:
import plotly.express as px

fig = px.scatter_mapbox(df, lat="lat", lon="long",     color="status",
                        hover_data=["id", "status", "requestid", "ssm_timestamp", "srm_timestamp", "intersectionid", "requesttype", "role"],
                  color_continuous_scale="delta", zoom=14.5)
fig.update_layout(mapbox_style="satellite", mapbox_accesstoken="pk.eyJ1Ijoic21ydGNidXMiLCJhIjoiY2ptMTB6YjIzMGVuazNwcWcyczk3a2ZmNSJ9.SjVhquTC7K5RzbGqoGZUYg")
fig.show()

In [3]:
# query = f"""
# select * from cve_signal_preemption
# """
# fetch_query_to_dataframe(cur, query).to_csv('cve_signal_preemption.csv', index=False)

# query = f"""
# select sourcedevice, intersectionid from cve_latest_maps
# """
# fetch_query_to_dataframe(cur, query).to_csv('cve_latest_maps.csv', index=False)

query = f"""
select * from cve_preemption_2021_02 limit 100
"""
fetch_query_to_dataframe(cur, query).to_csv('signal_preemption.csv', index=False)