In [1]:
import prestodb
import pandas as pd
conn=prestodb.dbapi.connect(
    host='localhost',
    port=9000,
    user='python',
    catalog='hive',
    schema='default',
)
cur = conn.cursor()

def fetch_query_to_dataframe(cur, query):
    cur.execute(query)
    rows = cur.fetchall()
    columns = list(map(lambda x: x[0], cur.description))
    return pd.DataFrame(rows, columns = columns)

In [23]:
srm_query = f"""
select * from smart_columbus_cve__captcha where os_partition = '2021_01' and messagetype = 'SRM' and day(from_iso8601_timestamp(timestamp)) = 22
"""

df = fetch_query_to_dataframe(cur, srm_query + " limit 10")

In [3]:
body = df['messagebody'][0]
body

'{"regional":null,"requestor":{"id":["entityID",4144923903],"name":[85,110,107,110,111,119,110],"position":{"heading":0,"position":{"elevation":2089,"lat":400163511,"long":-830118200},"speed":{"speed":1704,"transmisson":"unavailable"}},"routeName":[85,110,107,110,111,119,110],"type":{"request":"requestImportanceLevelUnKnown","role":"fire","subrole":"requestSubRoleUnKnown"}},"requests":[{"minute":32891,"request":{"id":{"id":4007},"inBoundLane":["lane",82],"outBoundLane":["lane",19],"requestID":5,"requestType":"priorityRequestUpdate"},"second":6000}],"second":0,"sequenceNumber":45,"timeStamp":null}'

In [4]:
import json

srm = json.loads(body)

print(json.dumps(srm, indent=2))

{
  "regional": null,
  "requestor": {
    "id": [
      "entityID",
      4144923903
    ],
    "name": [
      85,
      110,
      107,
      110,
      111,
      119,
      110
    ],
    "position": {
      "heading": 0,
      "position": {
        "elevation": 2089,
        "lat": 400163511,
        "long": -830118200
      },
      "speed": {
        "speed": 1704,
        "transmisson": "unavailable"
      }
    },
    "routeName": [
      85,
      110,
      107,
      110,
      111,
      119,
      110
    ],
    "type": {
      "request": "requestImportanceLevelUnKnown",
      "role": "fire",
      "subrole": "requestSubRoleUnKnown"
    }
  },
  "requests": [
    {
      "minute": 32891,
      "request": {
        "id": {
          "id": 4007
        },
        "inBoundLane": [
          "lane",
          82
        ],
        "outBoundLane": [
          "lane",
          19
        ],
        "requestID": 5,
        "requestType": "priorityRequestUpdate"
      },
      "second": 6000
    }
  ],
  "second": 0,
  "sequenceNumber": 45,
  "timeStamp": null
}

In [48]:
ssm_query = f"""
select * from smart_columbus_cve__captcha where os_partition = '2021_01' and messagetype = 'SSM' and day(from_iso8601_timestamp(timestamp)) = 22
"""

df = fetch_query_to_dataframe(cur, ssm_query + " limit 10")
body = df['messagebody'][0]

ssm = json.loads(body)

print(json.dumps(ssm, indent=2))

{
  "regional": null,
  "second": 8245,
  "sequenceNumber": 1,
  "status": [
    {
      "id": {
        "id": 4627
      },
      "sequenceNumber": 1,
      "sigStatus": [
        {
          "inboundOn": [
            "lane",
            17
          ],
          "requester": {
            "id": [
              "entityID",
              2286928716
            ],
            "request": 233,
            "sequenceNumber": 0
          },
          "status": "rejected"
        }
      ]
    }
  ],
  "timeStamp": 31082
}

In [57]:
unnest_query = f"""
with srms as ({srm_query}),
extracted_srms as (select 
    json_extract_scalar(messagebody, '$.requestor.id[1]') as id,
    json_extract_scalar(messagebody, '$.requestor.type.role') as role,
    json_extract_scalar(messagebody, '$.requests[0].request.requestID') as requestid,
    json_extract_scalar(messagebody, '$.requests[0].request.requestID') as requesttype,
    json_extract_scalar(messagebody, '$.requests[0].request.inBoundLane[1]') as inbound,
    json_extract_scalar(messagebody, '$.requests[0].request.outBoundLane[1]') as outbound,
    cast(json_extract_scalar(messagebody, '$.requestor.position.position.lat') as double) / 10000000 as lat,
    cast(json_extract_scalar(messagebody, '$.requestor.position.position.long') as double) / 10000000 as long,
    sourcedevice,
    timestamp
from srms)

select max(timestamp) as timestamp, max_by(lat, timestamp) as lat, max_by(long, timestamp) as long, sourcedevice, id, requestid, requesttype, role, inbound, outbound from extracted_srms group by sourcedevice, id, requestid, requesttype, role, inbound, outbound
"""

df = fetch_query_to_dataframe(cur, unnest_query + " limit 10")
df

,timestamp,lat,long,sourcedevice,id,requestid,requesttype,role,inbound,outbound
0,2021-01-22T13:53:52.524Z,39.846214,-82.937369,alumcreek_rohr_cvcp,976578596,17,17,truck,18,85
1,2021-01-22T18:39:26.207Z,39.843938,-82.936400,alumcreek_rohr_cvcp,1282937997,1,1,truck,113,22
2,2021-01-22T15:03:55.930Z,40.007733,-83.009613,high_patterson_cvcp,1204663201,2,2,fire,18,85
3,2021-01-22T22:27:24.563Z,40.039487,-83.017939,high_torrence_cvcp,1074475326,1,1,fire,82,20
4,2021-01-22T13:37:11.080Z,40.057184,-82.903624,morse_i270nb_cvcp,3861125852,254,254,truck,114,54
5,2021-01-22T19:26:51.747Z,39.996992,-83.007510,high_13th_cvcp,1457336840,250,250,fire,18,84
6,2021-01-22T15:59:29.877Z,39.851703,-82.938753,alumcreek_global_cvcp,502361261,3,3,truck,16,85
7,2021-01-22T14:05:51.719Z,39.855059,-82.938564,alumcreek_toy_cvcp,788332105,240,240,truck,18,85
8,2021-01-22T06:12:43.530Z,40.031323,-82.964606,cleveland_oaklandpark_cvcp,3421296740,180,180,fire,114,0
9,2021-01-22T13:37:10.803Z,40.057223,-82.903637,morse_i270nb_cvcp,3861125852,254,254,truck,115,17

In [41]:
unnest_ssm_query = f"""
with ssms as ({ssm_query}),
extracted_ssms as (select 
    json_extract_scalar(messagebody, '$.status[0].sigStatus[0].requester.id[1]') as id,
    json_extract_scalar(messagebody, '$.status[0].sigStatus[0].requester.request') as requestid,
    json_extract_scalar(messagebody, '$.status[0].sigStatus[0].status') as status,
    sourcedevice,
    timestamp
from ssms)
select max(timestamp) as timestamp, sourcedevice, id, requestid, status from extracted_ssms where status != 'processing' group by sourcedevice, id, requestid, status
"""

df = fetch_query_to_dataframe(cur, unnest_ssm_query + " limit 10")
df

,timestamp,sourcedevice,id,requestid,status
0,2021-01-22T18:39:40.262Z,alumcreek_spiegel_cvcp,1282937997,1,rejected
1,2021-01-22T14:15:39.410Z,high_olentangy_cvcp,2130767427,1,rejected
2,2021-01-22T14:16:56.116Z,alumcreek_rohr_cvcp,2528301197,18,rejected
3,2021-01-22T19:53:05.146Z,alumcreek_spiegel_cvcp,1548720280,8,requested
4,2021-01-22T17:54:15.852Z,alumcreek_groveport_cvcp,346356097,1,rejected
5,2021-01-22T15:50:10.358Z,cleveland_weber_cvcp,1986812904,5,requested
6,2021-01-22T14:01:48.845Z,cleveland_westerville_cvcp,2418835859,2,requested
7,2021-01-22T02:21:31.042Z,high_weisheimer_cvcp,2790070635,2,requested
8,2021-01-22T09:04:36.289Z,alumcreek_toy_cvcp,1740773814,5,requested
9,2021-01-22T18:25:54.016Z,alumcreek_rohr_cvcp,2094941295,4,rejected

In [68]:
join_query = f"""
with parsed_ssms as ({unnest_ssm_query}), parsed_srms as ({unnest_query})
select id, requestid, status, sourcedevice, role, requesttype, role, inbound, outbound, lat, long,
    parsed_ssms.timestamp as ssm_timestamp,
    parsed_srms.timestamp as srm_timestamp
from parsed_ssms join parsed_srms using (sourcedevice, id, requestid)
"""
print(join_query)
df = fetch_query_to_dataframe(cur, join_query)
df

with parsed_ssms as (
with ssms as (
select * from smart_columbus_cve__captcha where os_partition = '2021_01' and messagetype = 'SSM' and day(from_iso8601_timestamp(timestamp)) = 22
),
extracted_ssms as (select
    json_extract_scalar(messagebody, '$.status[0].sigStatus[0].requester.id[1]') as id,
    json_extract_scalar(messagebody, '$.status[0].sigStatus[0].requester.request') as requestid,
    json_extract_scalar(messagebody, '$.status[0].sigStatus[0].status') as status,
    sourcedevice,
    timestamp
from ssms)
select max(timestamp) as timestamp, sourcedevice, id, requestid, status from extracted_ssms where status != 'processing' group by sourcedevice, id, requestid, status
), parsed_srms as (
with srms as (
select * from smart_columbus_cve__captcha where os_partition = '2021_01' and messagetype = 'SRM' and day(from_iso8601_timestamp(timestamp)) = 22
),
extracted_srms as (select
    json_extract_scalar(messagebody, '$.requestor.id[1]') as id,
    json_extract_scalar(messagebody, '$.requestor.type.role') as role,
    json_extract_scalar(messagebody, '$.requests[0].request.requestID') as requestid,
    json_extract_scalar(messagebody, '$.requests[0].request.requestID') as requesttype,
    json_extract_scalar(messagebody, '$.requests[0].request.inBoundLane[1]') as inbound,
    json_extract_scalar(messagebody, '$.requests[0].request.outBoundLane[1]') as outbound,
    cast(json_extract_scalar(messagebody, '$.requestor.position.position.lat') as double) / 10000000 as lat,
    cast(json_extract_scalar(messagebody, '$.requestor.position.position.long') as double) / 10000000 as long,
    sourcedevice,
    timestamp
from srms)

select max(timestamp) as timestamp, max_by(lat, timestamp) as lat, max_by(long, timestamp) as long, sourcedevice, id, requestid, requesttype, role, inbound, outbound from extracted_srms group by sourcedevice, id, requestid, requesttype, role, inbound, outbound
)
select id, requestid, status, sourcedevice, role, requesttype, role, inbound, outbound, lat, long,
    parsed_ssms.timestamp as ssm_timestamp,
    parsed_srms.timestamp as srm_timestamp
from parsed_ssms join parsed_srms using (sourcedevice, id, requestid)

In [59]:
df.describe()

              lat        long
count  400.000000  400.000000
mean    39.931261  -82.959071
std      0.087910    0.031378
min     39.830346  -83.020241
25%     39.849733  -82.980317
50%     39.868515  -82.938657
75%     40.017605  -82.936841
max     40.061692  -82.901569

In [64]:
df[df['id'] == '1457336840'].sort_values(by=['sourcedevice', 'ssm_timestamp'])

,id,requestid,status,sourcedevice,role,requestid,requesttype,role,inbound,outbound,lat,long,ssm_timestamp,srm_timestamp
292,1457336840,247,requested,high_13th_cvcp,fire,247,247,fire,18,52,39.998023,-83.007703,2021-01-22T19:26:36.565Z,2021-01-22T19:26:40.561Z
196,1457336840,243,rejected,high_lane_cvcp,fire,243,243,fire,18,85,40.007580,-83.009555,2021-01-22T19:25:21.549Z,2021-01-22T19:25:11.562Z
281,1457336840,244,rejected,high_lane_cvcp,fire,244,244,fire,19,52,40.006242,-83.009251,2021-01-22T19:25:29.849Z,2021-01-22T19:25:25.560Z
271,1457336840,245,requested,high_lane_cvcp,fire,245,245,fire,18,52,40.005777,-83.009231,2021-01-22T19:25:36.349Z,2021-01-22T19:25:33.951Z
261,1457336840,243,rejected,high_northwood_cvcp,fire,243,243,fire,18,85,40.007554,-83.009550,2021-01-22T19:25:27.349Z,2021-01-22T19:25:11.981Z
183,1457336840,244,rejected,high_northwood_cvcp,fire,244,244,fire,19,52,40.006242,-83.009251,2021-01-22T19:25:34.842Z,2021-01-22T19:25:25.701Z
318,1457336840,245,requested,high_northwood_cvcp,fire,245,245,fire,18,52,40.005777,-83.009231,2021-01-22T19:25:36.494Z,2021-01-22T19:25:34.093Z
229,1457336840,243,rejected,high_patterson_cvcp,fire,243,243,fire,18,85,40.007554,-83.009550,2021-01-22T19:25:27.350Z,2021-01-22T19:25:11.979Z
143,1457336840,244,rejected,high_patterson_cvcp,fire,244,244,fire,19,52,40.006242,-83.009251,2021-01-22T19:25:34.842Z,2021-01-22T19:25:25.728Z
219,1457336840,245,requested,high_patterson_cvcp,fire,245,245,fire,18,52,40.005777,-83.009231,2021-01-22T19:25:36.493Z,2021-01-22T19:25:34.096Z
254,1457336840,245,requested,high_woodruff_cvcp,fire,245,245,fire,18,52,40.005777,-83.009231,2021-01-22T19:25:35.753Z,2021-01-22T19:25:34.090Z

In [66]:
df.to_csv('preemption_requests.csv', index=False)

In [69]:
full_query = f"""
with parsed_ssms as (
with ssms as (
select * from smart_columbus_cve__captcha 
    where os_partition = '2021_01' and messagetype = 'SSM'
),
extracted_ssms as (select 
    json_extract_scalar(messagebody, '$.status[0].sigStatus[0].requester.id[1]') as id,
    json_extract_scalar(messagebody, '$.status[0].sigStatus[0].requester.request') as requestid,
    json_extract_scalar(messagebody, '$.status[0].sigStatus[0].status') as status,
    sourcedevice,
    timestamp
from ssms)
select max(timestamp) as timestamp, sourcedevice, id, requestid, status from extracted_ssms where status != 'processing' group by sourcedevice, id, requestid, status
), parsed_srms as (
with srms as (
select * from smart_columbus_cve__captcha where os_partition = '2021_01' and messagetype = 'SRM' 
),
extracted_srms as (select 
    json_extract_scalar(messagebody, '$.requestor.id[1]') as id,
    json_extract_scalar(messagebody, '$.requestor.type.role') as role,
    json_extract_scalar(messagebody, '$.requests[0].request.requestID') as requestid,
    json_extract_scalar(messagebody, '$.requests[0].request.requestID') as requesttype,
    json_extract_scalar(messagebody, '$.requests[0].request.inBoundLane[1]') as inbound,
    json_extract_scalar(messagebody, '$.requests[0].request.outBoundLane[1]') as outbound,
    cast(json_extract_scalar(messagebody, '$.requestor.position.position.lat') as double) / 10000000 as lat,
    cast(json_extract_scalar(messagebody, '$.requestor.position.position.long') as double) / 10000000 as long,
    sourcedevice,
    timestamp
from srms)

select max(timestamp) as timestamp, max_by(lat, timestamp) as lat, max_by(long, timestamp) as long, sourcedevice, id, requestid, requesttype, role, inbound, outbound from extracted_srms group by sourcedevice, id, requestid, requesttype, role, inbound, outbound
)
select id, requestid, status, sourcedevice, role, requesttype, role, inbound, outbound, lat, long,
    parsed_ssms.timestamp as ssm_timestamp,
    parsed_srms.timestamp as srm_timestamp
from parsed_ssms join parsed_srms using (sourcedevice, id, requestid)
"""
df = fetch_query_to_dataframe(cur, full_query)
df

,id,requestid,status,sourcedevice,role,requesttype,role,inbound,outbound,lat,long,ssm_timestamp,srm_timestamp
0,2725248070,13,rejected,alumcreek_global_cvcp,truck,13,truck,18,85,39.854971,-82.938566,2021-01-22T13:52:30.334Z,2021-01-22T13:52:15.742Z
1,2411964514,2,rejected,alumcreek_toy_cvcp,truck,2,truck,49,23,39.852470,-82.938108,2021-01-29T16:47:24.828Z,2021-01-29T16:47:19.089Z
2,4057238246,250,requested,morse_i71nb_cvcp,fire,250,fire,52,120,40.061528,-82.994311,2021-01-30T19:15:48.153Z,2021-01-30T19:15:50.489Z
3,3647862401,1,granted,morse_karl_cvcp,fire,1,fire,83,21,40.059182,-82.977313,2021-01-17T19:41:21.099Z,2021-01-17T19:41:11.356Z
4,2529083477,111,requested,cleveland_hudson_cvcp,fire,111,fire,49,115,40.013547,-82.964230,2021-01-02T17:59:51.631Z,2021-01-02T17:59:49.715Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10248,3156914155,112,rejected,high_oaklandpark_cvcp,fire,112,fire,83,21,40.028974,-83.015133,2021-01-12T04:12:30.285Z,2021-01-12T04:12:17.005Z
10249,1411618552,4,rejected,alumcreek_rohr_cvcp,truck,4,truck,17,85,39.839992,-82.934143,2021-01-08T15:05:33.803Z,2021-01-08T15:05:20.191Z
10250,4259089633,155,requested,high_weber_cvcp,fire,155,fire,84,114,40.021455,-83.013193,2021-01-04T23:51:08.630Z,2021-01-04T23:51:05.438Z
10251,3348401530,4,requested,alumcreek_groveport_cvcp,truck,4,truck,83,24,39.865514,-82.936115,2021-01-06T14:37:22.412Z,2021-01-06T14:37:20.703Z
10252,3795130261,97,requested,morse_sandylane_cvcp,fire,97,fire,117,0,40.061403,-82.993116,2021-01-06T23:20:18.361Z,2021-01-06T23:20:16.640Z